.banner {}

.boy {
    position: relative;
    font-size: 0;

    img {
        width: 100%;
        opacity: 0;

        &:first-child,
        &:last-child {
            position: absolute;
            top: 0;
            left: 0;
        }

        &.-active {
            opacity: 1;
        }
    }

}