@keyframes scroll {
    0% {
        transform: translate(-50%, -100%);
    }

    100% {
        transform: translate(-50%, -130%);
    }
}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(30%);
    }
}

.banner {
    padding-top: 100px;

    &-wrap {
        position: relative;
        height: vwPc(1258*1.5);
        background: url(./../image/banner/bg.png) no-repeat top left/100%;

        &>div {
            position: absolute;
            font-size: 0;

            img {
                width: 100%;
            }
        }
    }

    &-tit {
        top: vwPc(80);
        left: vwPc(230);
        width: vwPc(856);
    }

    &-note {
        position: absolute;
        top: vwPc(272);
        left: vwPc(305);
        font-size: vwPc(23.2);
        font-weight: 300;
        color: #f9cb57;
        white-space: nowrap;
    }

    &-boy {
        top: vwPc(200);
        right: vwPc(50);
        width: vwPc(1420);
    }

    &-talk {
        top: vwPc(180);
        right: vwPc(304);
        width: vwPc(77);
    }

    &-book1 {
        top: vwPc(510);
        left: vwPc(140);
        width: vwPc(160);
        animation: float 1.8s ease-in-out infinite alternate;
    }

    &-book2 {
        top: vwPc(776);
        left: vwPc(314);
        width: vwPc(263);
        animation: float 1.2s ease-in-out infinite alternate-reverse;
    }

    &-book3 {
        top: vwPc(70);
        right: vwPc(20);
        width: vwPc(248);
        animation: float 1.8s ease-in-out infinite alternate-reverse;
    }

    &-cloudl {
        top: vwPc(1050);
        left: vwPc(226 - 371);
        width: vwPc(371);
    }

    &-cloudr {
        top: vwPc(770);
        right: 0;
        width: vwPc(754);
    }

    & &-scroll {
        position: fixed;
        top: calc(100vh - vwPc(30));
        left: 50%;
        transform: translate(-50%, -100%);
        width: vwPc(148);
        animation: scroll 1s ease-in-out infinite alternate;
        z-index: 50;
    }

    @include breakpoint-down('laptop') {
        padding-top: 80px;
    }

    @include breakpoint-down('tablet') {
        padding-top: mb(150);
    }

    @include breakpoint-down('mobile') {
        &-wrap {
            height: vwMb(1986 * 2);
            background-image: url(./../image/banner/bg-m.png);
        }

        &-tit {
            top: vwMb(100);
            left: 50%;
            transform: translateX(-50%);
            width: vwMb(893);
        }

        &-note {
            top: vwMb(530);
            left: 0;
            width: 100%;
            font-size: vwMb(37.3);
            text-align: center;
        }

        &-boy {
            top: vwMb(880);
            right: vwMb(-10);
            width: vwMb(1734);
        }

        &-talk {
            top: vwMb(880);
            right: vwMb(810);
            width: vwMb(103);
        }

        &-book1 {
            top: vwMb(1110);
            left: vwMb(-30);
            width: vwMb(160);
        }

        &-book2 {
            display: none;
        }

        &-book3 {
            top: vwMb(773);
            right: vwMb(-33);
            width: vwMb(370);
        }

        &-cloudl {
            display: none;
            // top: calc(vwMb(1800) + 370px);
            // left: vwMb(-173);
            // width: vwMb(370);
        }

        &-cloudr {
            top: vwMb(1600);
            width: vwMb(866);
        }

        & &-scroll {
            top: calc(100vh - vwMb(60));
            width: vwMb(266);
        }
    }
}

.boy {
    position: relative;
    font-size: 0;

    img {
        width: 100%;
        opacity: 0;

        &:first-child,
        &:last-child {
            position: absolute;
            top: 0;
            left: 0;
        }

        &.-active {
            opacity: 1;
        }
    }

}