#act-header-full {
    display: none;
}

img[referrerpolicy="unsafe-url"] {
    display: none;
}

.container .os-scrollbar .os-scrollbar-track {
    background-color: rgba(195, 195, 195, 0.3);

    .os-scrollbar-handle {
        background-color: rgba(121, 121, 124, 0.4);
        cursor: grab;

        &:active {
            cursor: grabbing;
        }
    }
}

.preface {
    position: relative;
    box-sizing: border-box;
    width: 100vw;
    height: 200vh;
    margin-bottom: 100vh;
    padding-top: 100vh;
    z-index: 999;
    pointer-events: none;

    &-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: rgba(41, 11, 101, 0.9);
        pointer-events: visible;

        &>div {
            display: flex;
            flex-direction: column;
            align-items: center;
            opacity: 0;
            transform: translateY(10%);
        }
    }

    &-txt {
        display: flex;
        flex-direction: column;
        gap: 45px;
        // opacity: 0;
        // transform: translateY(10%);

        img {
            height: 30px;
        }
    }

    &-line {
        width: 1px;
        height: 170px;
        margin-top: 45px;
        // opacity: 0;

        &>div {
            height: 170px;
            background-color: #fff;
        }
    }

    &-cube {
        width: 10px;
        height: 10px;
        background-color: #fff;
        transform: rotate(45deg);
        // transform: scale(0.5);
        // opacity: 0;
    }

    &-enter {
        margin-top: 36px;
        // transform: scale(0.5);
        // opacity: 0;

        img {
            height: 22px;
        }
    }

    @include breakpoint-down('laptop') {
        &-txt {
            gap: 36px;

            img {
                height: 24px;
            }
        }

        &-line {
            height: 136px;
            margin-top: 36px;

            &>div {
                height: 136px;
            }
        }

        &-cube {
            width: 8px;
            height: 8px;
        }

        &-enter {
            margin-top: 28px;

            img {
                height: 18px;
            }
        }
    }

    @include breakpoint-down('tablet') {
        &-txt {
            gap: mb(66);

            img {
                height: mb(48);
            }
        }

        &-line {
            height: mb(285);
            margin-top: mb(72);

            &>div {
                height: mb(285);
            }
        }

        &-cube {
            width: 6px;
            height: 6px;
        }

        &-enter {
            margin-top: 20px;

            img {
                height: mb(36);
            }
        }
    }
}

.card {
    position: relative;
    padding: 0 20px 260px;
    background-image: linear-gradient(to top, #FFF, rgba(255, 255, 255, 0.1)), url(./../image/card/cloud.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 1920px;

    &-cloud {
        position: absolute;
        top: -64px;
        left: calc(50% + 260px);
        width: 455px;
        height: 221px;
        background: url(./../image/card/cloud-b.png) no-repeat center/contain;
        pointer-events: none;
    }

    &-wrap {
        position: relative;
        display: flex;
        gap: 62px;
        max-width: 1200px;
        margin: 0 auto;
        z-index: 1;

        &::after {
            content: '';
            position: absolute;
            bottom: -100px;
            left: calc(50% + 400px);
            width: 246px;
            height: 150px;
            background: url(./../image/card/book.png) no-repeat center/contain;
            pointer-events: none;
            animation: float 2s ease-in-out infinite alternate-reverse;
        }
    }

    &-item {
        flex: 1;
        border-radius: 12px;
        overflow: hidden;
    }

    &-pic {
        font-size: 0;

        img {
            width: 100%;
        }
    }

    &-content {
        box-sizing: border-box;
        height: 300px;
        padding: 20px 10px 20px 24px;
        background-color: #f1eeff;

        &>div {
            height: 100%;
            padding-right: 14px;
        }
    }

    &-tit {
        margin-bottom: 20px;
        font-size: 24px;
        font-weight: 500;
        color: #9c6cb0;
    }

    &-txt {
        &>span {
            color: #7a7a7a;
        }
    }

    @include breakpoint-down('laptop') {
        padding: 0 20px 180px;
        background-size: 1280px;

        &-wrap {
            gap: 20px;
            max-width: 984px;

            &::after {
                bottom: -80px;
                left: calc(50% + 320px);
                width: 197px;
                height: 120px;
            }
        }

        &-content {
            height: 260px;
            padding: 16px 6px 16px 20px;

            &>div {
                padding-right: 14px;
            }
        }

        &-tit {
            margin-bottom: 16px;
            font-size: 21px;
        }

        &-txt {
            font-size: 15px;
        }
    }

    @include breakpoint-down('tablet') {
        padding: 0 20px mb(225);
        background-size: 1023px;

        &-cloud {
            top: -30px;
            width: mb(455*1.5);
            height: mb(221*1.5);
        }

        &-wrap {
            gap: 16px;
            max-width: 728px;

            &::after {
                bottom: -30px;
                left: calc(50% + 280px);
                width: mb(246);
                height: mb(152);
            }
        }

        &-content {
            height: mb(690);
            padding: 12px 4px 12px 12px;

            &>div {
                padding-right: 8px;
            }
        }

        &-tit {
            margin-bottom: 10px;
            font-size: 18px;
        }

        &-txt {
            font-size: 14px;
        }
    }

    @include breakpoint-down('mobile') {
        padding: 0 40px mb(225);
        background-size: 768px;
        background-image: linear-gradient(to top, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.1)), url(./../image/card/cloud-m.png);

        &-cloud {
            display: none;
        }

        &-wrap {
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;

            &::after {
                left: calc(50% + 76px);
            }
        }

        &-item {
            flex: 0 0 auto;
            width: mb(861);
            border-radius: 5px;
        }
    }
}

.intro {
    position: relative;
    margin-bottom: 180px;
    padding-top: 150px;
    text-align: center;

    &-cloud {
        display: none;
    }

    &-tit {
        margin-bottom: 90px;
        font-size: 0;

        img {
            width: 460px;
        }
    }

    &-desc {
        max-width: 930px;
        margin: 0 auto;
        font-size: 24px;
    }

    &-logo {
        margin-top: 80px;
        font-size: 0;

        img {
            width: 430px;
        }
    }

    &-book {
        position: absolute;
        left: calc(50% + 260px);
        bottom: 10px;
        width: 192px;
        font-size: 0;
        animation: float 1.8s ease-in-out infinite alternate;

        img {
            width: 100%;
        }
    }

    @include breakpoint-down('laptop') {
        margin-bottom: 144px;
        padding-top: 120px;

        &-tit {
            margin-bottom: 70px;

            img {
                width: 360px;
            }
        }

        &-desc {
            max-width: 700px;
            margin: 0 auto;
            font-size: 20px;
        }

        &-logo {
            margin-top: 50px;

            img {
                width: 340px;
            }
        }

        &-book {
            left: calc(50% + 200px);
            bottom: -16px;
            width: 150px;
        }
    }

    @include breakpoint-down('tablet') {
        padding-top: 100px;

        &-tit {
            margin-bottom: mb(60);

            img {
                width: mb(638);
            }
        }

        &-desc {
            padding: 0 20px;
            font-size: 16px;
            text-align: left;
        }

        &-logo {
            margin-top: mb(54);

            img {
                width: mb(650);
            }
        }

        &-book {
            left: calc(50% + 90px);
            bottom: mb(-120);
            width: mb(190);
        }
    }

    @include breakpoint-down('mobile') {
        position: relative;

        &-cloud {
            display: block;
            position: absolute;
            bottom: -40px;
            left: mb(-173);
            width: mb(370);
            height: mb(180);
            background: url(./../image/banner/cloud-l.png) no-repeat center/contain;
            pointer-events: none;
        }
    }
}

.product {
    position: relative;
    padding: 0 20px 140px;
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));

    &-cloud {
        position: absolute;
        top: -20px;
        right: calc(50% + 120px);
        width: 923px;
        height: 448px;
        background: url(./../image/product/cloud.png) no-repeat center/contain;
        pointer-events: none;
    }

    &-wrap {
        position: relative;
        display: flex;
        align-items: flex-start;
        gap: 54px;
        max-width: 1200px;
        margin: 0 auto;

        &::before,
        &::after {
            content: '';
            position: absolute;
            pointer-events: none;
        }

        &::before {
            top: 260px;
            right: calc(100% + 50px);
            width: 232px;
            height: 138px;
            background: url(./../image/product/book-l.png) no-repeat center/contain;
            animation: float 1.8s ease-in-out infinite alternate;
        }

        &::after {
            top: 445px;
            left: calc(100% + 80px);
            width: 221px;
            height: 108px;
            background: url(./../image/product/book-r.png) no-repeat center/contain;
            animation: float 1.5s ease-in-out infinite alternate-reverse;
        }
    }

    &-pic {
        position: relative;
        flex: 0 0 auto;
        width: 660px;
        border-radius: 12px;
        font-size: 0;
        overflow: hidden;

        img {
            width: 100%;
        }

        .swiper {
            & .swiper-pagination {
                bottom: 26px;
                font-size: 0;
            }

            & .swiper-pagination .swiper-pagination-bullet {
                box-sizing: border-box;
                width: 16px;
                height: 16px;
                margin: 0 10px;
                border-radius: 50%;
                border: 2px solid #9c6cb0;
                background-color: #fff;
                opacity: 1;
                transition: background-color .3s;

                &-active {
                    background-color: #9c6cb0;
                }
            }

            &-button-prev,
            &-button-next {
                top: 50%;
                transform: translateY(-50%);
                width: 50px;
                height: 50px;
                margin: 0;

                &::after {
                    content: none;
                }
            }

            &-button-prev {
                left: 28px;
                background: url(./../image/product/prev.svg) no-repeat center/contain;
            }

            &-button-next {
                right: 28px;
                background: url(./../image/product/next.svg) no-repeat center/contain;
            }
        }
    }

    &-logo {
        position: absolute;
        top: 20px;
        left: 20px;
        width: 290px;
        font-size: 0;
        z-index: 1;

        img {
            width: 100%;
        }
    }

    &-content {
        flex: 0 0 auto;
        width: 486px;
    }

    &-name {
        margin-bottom: 32px;
        font-size: 0;

        img {
            width: 617px;

            &:nth-child(2) {
                display: none;
            }

            @media only screen and (max-width: 1520px) {
                width: 390px;
                margin-top: -28px;

                &:nth-child(1) {
                    display: none;
                }

                &:nth-child(2) {
                    display: inline-block;
                }
            }
        }
    }

    &-txt {
        p {
            margin-top: 10px;
            font-size: 24px;
            font-weight: 500;
        }
    }

    &-btn {
        display: inline-block;
        margin-top: 90px;
        font-size: 0;

        img {
            height: 66px;
        }

        @include breakpoint-up('laptop') {
            transition: transform .3s;

            &:hover {
                transform: scale(0.95);
            }
        }
    }

    &-sale {
        margin-top: 70px;

        img {
            height: 36px;
        }

        ul {
            margin-top: 18px;
        }
    }

    &-note {
        margin-top: 40px;
        padding: 0 10px;
        border-top: 1px solid #7a7a7a;
        border-bottom: 1px solid #7a7a7a;

        button {
            position: relative;
            width: 100%;
            padding: 20px 0;
            color: #7a7a7a;
            text-align: left;

            &::after {
                content: '';
                position: absolute;
                top: 24px;
                right: 10px;
                width: 20px;
                height: 20px;
                background: url(./../image/product/arrow.svg) no-repeat center/contain;
                transition: transform .3s;
            }
        }

        div {
            display: none;
            padding-bottom: 20px;
            color: #7a7a7a;
        }

        &.is-open {
            button {
                &::after {
                    transform: rotate(-180deg);
                }
            }
        }
    }

    @include breakpoint-down('laptop') {
        padding: 0 20px 112px;

        &-cloud {
            top: -16px;
            right: calc(50% + 96px);
            width: 738px;
            height: 358px;
        }

        &-wrap {
            max-width: 984px;
            gap: 42px;

            &::before {
                top: 208px;
                right: calc(100% + 30px);
                width: 186px;
                height: 110px;
            }

            &::after {
                top: 356px;
                left: calc(100% + 40px);
                width: 177px;
                height: 87px;
            }
        }

        &-pic {
            width: 528px;

            .swiper {
                & .swiper-pagination {
                    bottom: 20px;
                }

                & .swiper-pagination .swiper-pagination-bullet {
                    width: 13px;
                    height: 13px;
                    margin: 0 8px;
                    border: 1px solid #9c6cb0;
                }

                &-button-prev,
                &-button-next {
                    width: 40px;
                    height: 40px;
                }

                &-button-prev {
                    left: 22px;
                }

                &-button-next {
                    right: 22px;
                }
            }
        }

        &-logo {
            top: 16px;
            left: 16px;
            width: 232px;
        }

        &-content {
            width: 414px;
        }

        &-name {
            margin-bottom: 20px;

            img {
                width: 312px;
                margin-top: -22px;
            }
        }

        &-txt {
            font-size: 15px;

            p {
                margin-top: 8px;
                font-size: 20px;
            }
        }

        &-btn {
            margin-top: 60px;

            img {
                height: 52px;
            }
        }

        &-sale {
            margin-top: 50px;
            font-size: 15px;

            img {
                height: 30px;
            }

            ul {
                margin-top: 14px;
            }
        }

        &-note {
            margin-top: 20px;
            padding: 0 8px;
            font-size: 15px;

            button {
                padding: 16px 0;

                &::after {
                    top: 20px;
                    right: 8px;
                    width: 16px;
                    height: 16px;
                }
            }

            div {
                padding-bottom: 16px;
            }
        }
    }

    @include breakpoint-down('tablet') {
        padding: 0 20px mb(280);

        &-cloud {
            right: calc(50% + 200px);
            width: mb(923);
            height: mb(448);
        }

        &-wrap {
            max-width: 728px;
            gap: 24px;

            &::before {
                width: mb(221);
                height: mb(108);
            }

            &::after {
                width: mb(232);
                height: mb(138);
            }
        }

        &-pic {
            width: 360px;

            .swiper {
                & .swiper-pagination {
                    bottom: 16px;
                }

                &-button-prev,
                &-button-next {
                    width: mb(74);
                    height: mb(74);
                }

                &-button-prev {
                    left: 10px;
                }

                &-button-next {
                    right: 10px;
                }
            }
        }

        &-logo {
            top: 12px;
            left: 12px;
            width: 200px;
        }

        &-content {
            width: 344px;
        }

        &-name {
            margin-bottom: mb(45);

            img {
                width: mb(860);
            }
        }

        &-txt {
            font-size: 14px;

            p {
                margin-top: 4px;
                font-size: 18px;
            }
        }

        &-btn {
            margin-top: 30px;

            img {
                height: mb(135);
            }
        }

        &-sale {
            margin-top: 34px;
            font-size: 14px;

            img {
                height: 28px;
            }

            ul {
                margin-top: 10px;
            }
        }

        &-note {
            margin-top: 14px;
            font-size: 14px;

            button {
                padding: 12px 0;

                &::after {
                    top: 16px;
                }
            }

            div {
                padding-bottom: 12px;
            }
        }
    }

    @include breakpoint-down('mobile') {
        padding: 0 40px mb(280 + 112 + 137);

        &-cloud {
            top: auto;
            bottom: 30px;
            right: auto;
            left: -120px;
        }

        &-wrap {
            flex-direction: column;

            &::before {
                top: 53vw;
                right: auto;
                left: mb(-120);
            }

            &::after {
                top: auto;
                bottom: -150px;
                left: auto;
                right: 50px;
            }
        }

        &-pic {
            width: 100%;
            border-radius: 0;

            .swiper {
                & .swiper-pagination {
                    position: static;
                    margin-top: 20px;
                }

                &-slide {
                    border-radius: 5px;
                    overflow: hidden;
                }
            }
        }

        &-logo {
            display: none;
        }

        &-content {
            position: relative;
            width: 100%;
        }

        &-name {
            img {
                margin-top: 0;
            }
        }

        &-btn {
            position: absolute;
            top: calc(100% + mb(112));
            left: 50%;
            transform: translateX(-50%);
            margin-top: 0;
        }
    }
}

.story {
    position: relative;
    padding: 0 20px 170px;
    background-color: #fff;

    &::before {
        content: '';
        position: absolute;
        top: -200px;
        left: 0;
        width: 100%;
        height: 370px;
        background: url(./../image/story/cloud.png) no-repeat center top/cover;
        pointer-events: none;
    }

    &-bg {
        position: absolute;
        bottom: -170px;
        left: 0;
        width: 100%;
        height: 1390px;

        img {
            width: 100%;
            height: 100%;
        }
    }

    &-wrap {
        position: relative;
        max-width: 1200px;
        margin: 0 auto;
        z-index: 1;
    }

    &-tit {
        margin-bottom: 40px;
        text-align: center;
        font-size: 0;

        img {
            width: 356px;
        }
    }

    &-desc {
        margin-bottom: 20px;
        font-size: 22px;
        text-align: center;
    }

    &-item {
        display: flex;
        gap: 40px;
    }

    &-pic {
        flex: 0 0 auto;
        width: 400px;
        font-size: 0;
        border-radius: 12px;
        overflow: hidden;

        img {
            width: 100%;
        }
    }

    &-content {
        flex: 0 0 auto;
        width: 680px;

        &>div {
            max-height: 423px;
            padding-right: 40px;
            overflow-y: auto;

            &>p {
                margin-bottom: 26px;
                font-size: 22px;
                font-weight: 500;
                color: #9c6cb0;
            }

            &>span {
                color: #9c6cb0;
            }
        }
    }

    @include breakpoint-down('laptop') {
        padding: 0 20px 122px;

        &::before {
            top: -140px;
            height: 250px;
        }

        &-bg {
            bottom: -122px;
            height: 928px;
        }

        &-wrap {
            max-width: 984px;
        }

        &-tit {
            margin-bottom: 32px;

            img {
                width: 285px;
            }
        }

        &-desc {
            margin-bottom: 16px;
            font-size: 18px;
        }

        &-item {
            gap: 32px;
        }

        &-pic {
            width: 320px;
        }

        &-content {
            width: 568px;
            font-size: 15px;

            &>div {
                max-height: 340px;
                padding-right: 32px;

                &>p {
                    margin-bottom: 18px;
                    font-size: 18px;
                }
            }
        }
    }

    @include breakpoint-down('tablet') {
        padding: 0 20px mb(276);

        &::before {
            top: -120px;
            height: 200px;
        }

        &-bg {
            bottom: mb(-276);
            height: 742px;
        }

        &-wrap {
            max-width: 728px;
        }

        &-tit {
            margin-bottom: mb(60);

            img {
                width: mb(560);
            }
        }

        &-desc {
            font-size: 16px;
        }

        &-item {
            gap: mb(60);
        }

        &-pic {
            width: 280px;
            border-radius: 5px;
        }

        &-content {
            width: 388px;

            &>div {
                max-height: 296px;
                padding-right: 20px;

                &>p {
                    margin-bottom: mb(60);
                    font-size: 17px;
                }
            }
        }
    }

    @include breakpoint-down('mobile') {
        padding: 0 40px mb(122);

        &::before {
            top: -90px;
            height: mb(380);
            background-image: url(./../image/story/cloud-m.png);
        }

        &-bg {
            bottom: mb(-122);
            height: mb(3365);
        }

        &-desc {
            text-align: left;
        }

        &-item {
            flex-direction: column;
            align-items: center;
        }

        &-pic {
            box-sizing: border-box;
            width: 100%;
            max-width: mb(1200);
            margin-right: 5px;
        }

        &-content {
            width: 100%;

            &>div {
                max-height: mb(1300);
                padding-right: 15px;
            }
        }
    }
}

.tab {
    $root: &;

    &-nav {
        &.swiper {
            padding: 75px 0 10px;
        }

        .swiper {
            &-slide {
                &:nth-child(even) {
                    #{$root}-btn {
                        background-color: #fae1ca;

                        &.-active {
                            background-color: #fff;
                        }

                        @include breakpoint-up('laptop') {
                            &:hover {
                                background-color: #fff;
                            }
                        }
                    }
                }
            }
        }
    }

    &-btn {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 66px;
        border-radius: 12px 12px 0 0;
        background-color: #e3caed;
        transition: background-color .3s;
        cursor: pointer;

        &::before {
            content: '';
            position: absolute;
            top: calc(100% - 1px);
            left: 0;
            width: 100%;
            height: 12px;
            background-color: rgba(255, 255, 255, 0);
            transition: background-color .3s;
        }

        &::after {
            content: '';
            position: absolute;
            bottom: -10px;
            left: 50%;
            width: 0;
            height: 4px;
            transform: translateX(-50%);
            border-radius: 2px;
            background-color: #9c6cb0;
            transition: width .3s;
        }

        &.-active {
            background-color: #fff;

            &::before {
                background-color: #fff;
            }

            &::after {
                width: 100px;
            }

            #{$root}-icon {
                transform: translateX(-50%) scale(1);
                opacity: 1;
            }

            #{$root}-name {
                padding-top: 12px;
            }
        }

        @include breakpoint-up('laptop') {
            &:hover {
                background-color: #fff;

                &::before {
                    background-color: #fff;
                }

                &::after {
                    width: 100px;
                }

                #{$root}-icon {
                    transform: translateX(-50%) scale(1);
                    opacity: 1;
                }

                #{$root}-name {
                    padding-top: 12px;
                }
            }
        }
    }

    &-name {
        flex: 0 0 auto;
        font-size: 0;
        transition: padding .3s;

        img {
            height: 21px;
        }
    }

    &-icon {
        position: absolute;
        top: -75px;
        left: 50%;
        transform: translateX(-50%) scale(0.5);
        transition: transform .3s, opacity .3s;
        opacity: 0;
        pointer-events: none;

        img {
            width: 128px;
        }
    }

    &-panel {
        display: none;
        padding: 50px 40px;
        border-radius: 0 0 12px 12px;
        background-color: #fff;

        &.-active {
            display: block;
        }
    }

    @include breakpoint-down('laptop') {
        &-nav {
            &.swiper {
                padding: 60px 0 8px;
            }
        }

        &-panel {
            padding: 40px 32px;
        }

        &-btn {
            height: 54px;

            &::before {
                height: 10px;
            }

            &::after {
                bottom: -8px;
                height: 3px;
            }

            &.-active {
                &::after {
                    width: 80px;
                }

                #{$root}-name {
                    padding-top: 10px;
                }
            }
        }

        &-name {
            img {
                height: 18px;
            }
        }

        &-icon {
            top: -60px;

            img {
                width: 102px;
            }
        }
    }

    @include breakpoint-down('tablet') {
        &-nav {
            &.swiper {
                padding: 50px 0 8px;
            }
        }

        &-panel {
            padding: 26px 20px;
            border-radius: 0 0 5px 5px;
        }

        &-btn {
            height: 50px;
            border-radius: 5px 5px 0 0;

            &.-active {
                &::after {
                    width: 60px;
                }
            }
        }

        &-name {
            img {
                height: 17px;
            }
        }

        &-icon {
            top: -44px;

            img {
                width: 80px;
            }
        }
    }

    @include breakpoint-down('mobile') {
        &-nav {
            &.swiper {
                padding: 8px 0;
            }

            .swiper {
                &-slide {
                    &:nth-child(even) {
                        #{$root}-btn {
                            background-color: #fff;
                        }
                    }

                    #{$root}-name {
                        padding-top: 0;
                    }
                }

                &-button-prev,
                &-button-next {
                    top: 50%;
                    transform: translateY(-50%);
                    width: mb(74);
                    height: mb(74);
                    margin: 0;

                    &::after {
                        content: none;
                    }
                }

                &-button-prev {
                    left: 20px;
                    background: url(./../image/story/prev.svg) no-repeat center/contain;
                }

                &-button-next {
                    right: 20px;
                    background: url(./../image/story/next.svg) no-repeat center/contain;
                }
            }
        }

        &-panel {
            padding: 20px 5px 20px 10px;
        }

        &-btn {
            height: mb(161);
            background-color: #fff;
            pointer-events: none;

            &::before,
            &::after {
                content: none;
            }
        }

        &-name {
            padding: 0 0 0 50px;

            img {
                height: mb(60);
            }
        }

        &-icon {
            top: -8px;
            left: 32%;
            transform: translateX(-50%) scale(1);
            opacity: 1;

            img {
                width: mb(180);
            }
        }
    }
}

.partners {
    position: relative;
    padding: 170px 20px 50px;
    background-color: #faf6f1;

    &-wrap {
        position: relative;
        max-width: 1200px;
        margin: 0 auto;

        &::before {
            content: '';
            position: absolute;
            top: 94px;
            right: calc(100% + 66px);
            width: 221px;
            height: 108px;
            background: url(./../image/partners/book-l.png) no-repeat center/contain;
            pointer-events: none;
            animation: float 1.5s ease-in-out infinite alternate-reverse;
        }

        &::after {
            content: '';
            position: absolute;
            bottom: 316px;
            left: calc(100% + 20px);
            width: 230px;
            height: 138px;
            background: url(./../image/partners/book-r.png) no-repeat center/contain;
            pointer-events: none;
            animation: float 1.8s ease-in-out infinite alternate-reverse;
        }
    }

    &-tit {
        margin-bottom: 58px;
        font-size: 0;

        img {
            width: 303px;
        }
    }

    &-item {
        display: flex;
        align-items: center;
        gap: 50px;

        &+& {
            margin-top: 100px;
        }
    }

    &-pic {
        flex: 1 1 auto;
        width: 540px;
        font-size: 0;
        border-radius: 12px;
        overflow: hidden;

        img {
            width: 100%;
        }
    }

    &-content {
        flex: 1 1 auto;
        width: 610px;
    }

    &-name {
        font-size: 0;

        img {
            height: 46px;
        }
    }

    &-txt {
        padding: 70px 0 90px;
    }

    &-link {
        display: inline-flex;
        align-items: center;
        gap: 18px;
        color: #7c2090;
        text-decoration: none;

        &::after {
            content: '';
            display: block;
            flex: 0 0 auto;
            width: 8px;
            height: 16px;
            margin-top: 1px;
            background: url(./../image/partners/arrow.svg) no-repeat center/contain;
            transition: transform .3s;
        }

        @include breakpoint-up('laptop') {
            &:hover {
                &::after {
                    transform: translateX(100%);
                }
            }
        }
    }

    @include breakpoint-down('laptop') {
        padding: 122px 20px 50px;

        &-wrap {
            max-width: 984px;

            &::before {
                right: calc(100% + 50px);
                width: 177px;
                height: 87px;
            }

            &::after {
                bottom: -30px;
                left: auto;
                right: 0;
                width: 138px;
                height: 83px;
            }
        }

        &-tit {
            margin-bottom: 46px;

            img {
                width: 242px;
            }
        }

        &-item {
            gap: 40px;

            &+& {
                margin-top: 80px;
            }
        }

        &-name {
            img {
                height: 40px;
            }
        }

        &-txt {
            padding: 50px 0 64px;
        }
    }

    @include breakpoint-down('tablet') {
        padding: mb(276) 20px 50px;

        &-wrap {
            max-width: 728px;

            &::before {
                width: mb(221);
                height: mb(108);
            }

            &::after {
                bottom: -10px;
                width: mb(231);
                height: mb(137);
            }
        }

        &-tit {
            margin-bottom: mb(64);

            img {
                width: mb(474);
            }
        }

        &-item {
            gap: mb(76);
            padding: 0 mb(60);

            &+& {
                margin-top: mb(120);
            }
        }

        &-pic {
            width: 100%;
            border-radius: mb(15);
        }

        &-content {
            width: 100%;
            font-size: 15px;
        }

        &-name {
            img {
                height: mb(106);
            }
        }

        &-txt {
            padding: mb(68) 0;
        }
    }

    @include breakpoint-down('mobile') {
        padding: mb(180) 20px 50px;

        &-wrap {
            &::before {
                top: mb(-54);
                right: auto;
                left: 0;
                width: mb(221);
                height: mb(108);
            }

            &::after {
                bottom: -5px;
            }
        }

        &-tit {
            text-align: center;
        }

        &-item {
            flex-direction: column;
        }
    }
}

.qa {
    position: relative;
    padding: 322px 20px 110px;
    background: #faf6f1 url(./../image/qa/mountain.png) repeat-x top center/1920px;

    &-wrap {
        max-width: 1200px;
        margin: 0 auto;
    }

    &-tit {
        margin-bottom: 36px;
        text-align: center;
        font-size: 0;

        img {
            width: 263px;
        }
    }

    &-content {

        &::before,
        &::after {
            content: '';
            display: block;
            width: 42px;
            height: 14px;
            margin: 0 auto;
            background: url(./../image/qa/cube.png) no-repeat center/contain;
        }

        &::before {
            margin-bottom: 18px;
        }

        &::after {
            margin-top: 18px;
        }
    }

    &-list {
        display: flex;
        align-items: flex-start;
        gap: 110px;
    }

    &-group {
        flex: 1;
        border-top: 1px solid #9c6cb0;
    }

    &-item {
        position: relative;
        font-size: 20px;
        color: #9c6cb0;
        border-bottom: 1px solid #9c6cb0;
    }

    &-num {
        position: absolute;
        top: 18px;
        left: 18px;
        pointer-events: none;
    }

    &-head {
        width: 100%;
        padding: 18px 60px;
        color: #9c6cb0;
        text-align: left;

        &::after {
            content: '';
            position: absolute;
            top: 24px;
            right: 30px;
            width: 20px;
            height: 20px;
            background: url(./../image/qa/arrow.svg) no-repeat center/contain;
            transition: transform .3s;
        }
    }

    &-txt {
        display: none;
        padding: 0 72px 20px 60px;
        font-size: 16px;
        color: #000;
    }

    &-item.-twoDigit & {

        &-head,
        &-txt {
            padding-left: 72px;
        }
    }

    &-item.is-open & {

        &-head {
            &::after {
                transform: rotate(-180deg);
            }
        }
    }

    @include breakpoint-down('laptop') {
        padding: 258px 20px 88px;
        background-size: 1536px;

        &-wrap {
            max-width: 984px;
        }

        &-tit {
            margin-bottom: 28px;

            img {
                width: 210px;
            }
        }

        &-content {

            &::before,
            &::after {
                width: 34px;
                height: 12px;
            }
        }

        &-list {
            gap: 80px;
        }

        &-item {
            font-size: 17px;
        }

        &-num {
            top: 14px;
            left: mb(15);
        }

        &-head {
            padding: 14px mb(108);

            &::after {
                top: 20px;
                right: 12px;
                width: 16px;
                height: 16px;
            }
        }

        &-txt {
            padding: 0 mb(108) 17px mb(108);
            font-size: 15px;
        }

        &-item.-twoDigit & {

            &-head,
            &-txt {
                padding-left: mb(138);
            }
        }
    }

    @include breakpoint-down('tablet') {
        padding: mb(348) 20px mb(210);
        background-size: mb(1160);
        background-image: url(./../image/qa/mountain-m.png);

        &-wrap {
            max-width: 728px;
        }

        &-tit {
            margin-bottom: mb(33);

            img {
                width: mb(343);
            }
        }

        &-content {

            &::before,
            &::after {
                width: mb(56);
                height: mb(19);
            }

            &::before {
                margin-bottom: mb(24);
            }

            &::after {
                margin-top: mb(24);
            }
        }

        &-list {
            display: block;
            gap: 0;
            border-top: 1px solid #9c6cb0;
        }

        &-group {
            border: none;
        }

        &-item {
            font-size: 15px;
        }

        &-txt {
            font-size: 14px;
        }
    }
}