.partners {
    padding: 0 20px 50px;
    background-color: #faf6f1;

    &-wrap {
        position: relative;
        max-width: 1200px;
        margin: 0 auto;

        &::before {
            content: '';
            position: absolute;
            top: 94px;
            right: calc(100% + 66px);
            width: 221px;
            height: 108px;
            background: url(./../image/partners/book-l.png) no-repeat center/contain;
        }

        &::after {
            content: '';
            position: absolute;
            bottom: 316px;
            left: calc(100% + 20px);
            width: 230px;
            height: 138px;
            background: url(./../image/partners/book-r.png) no-repeat center/contain;
        }
    }

    &-tit {
        margin-bottom: 58px;

        img {
            width: 303px;
        }
    }

    &-item {
        display: flex;
        align-items: center;
        gap: 50px;

        &+& {
            margin-top: 100px;
        }
    }

    &-pic {
        flex: 1 1 auto;
        width: 540px;
        border-radius: 12px;
        overflow: hidden;

        img {
            width: 100%;
        }
    }

    &-content {
        flex: 1 1 auto;
        width: 610px;
    }

    &-name {
        img {
            height: 46px;
        }
    }

    &-txt {
        padding: 70px 0 90px;
    }

    &-link {
        display: inline-flex;
        align-items: center;
        gap: 18px;
        color: #7c2090;
        text-decoration: none;

        &::after {
            content: '';
            display: block;
            flex: 0 0 auto;
            width: 8px;
            height: 16px;
            margin-top: 1px;
            background: url(./../image/partners/arrow.svg) no-repeat center/contain;
        }
    }

    @include breakpoint-down('laptop') {
        &-wrap {
            &::after {
                bottom: -30px;
                left: auto;
                right: 0;
                width: 138px;
                height: 83px;
            }
        }

        &-tit {
            margin-bottom: 46px;

            img {
                width: 242px;
            }
        }

        &-item {
            gap: 40px;

            &+& {
                margin-top: 80px;
            }
        }

        &-name {
            img {
                height: 40px;
            }
        }

        &-txt {
            padding: 50px 0 64px;
        }
    }

    @include breakpoint-down('tablet') {
        &-wrap {
            &::after {
                bottom: -10px;
                width: mb(231);
                height: mb(137);
            }
        }

        &-tit {
            margin-bottom: mb(64);

            img {
                width: mb(474);
            }
        }

        &-item {
            gap: mb(76);
            padding: 0 mb(60);

            &+& {
                margin-top: mb(120);
            }
        }

        &-pic {
            width: 100%;
            border-radius: mb(15);
        }

        &-content {
            width: 100%;
            font-size: 15px;
        }

        &-name {
            img {
                height: mb(106);
            }
        }

        &-txt {
            padding: mb(68) 0;
        }
    }

    @include breakpoint-down('mobile') {
        &-wrap {
            &::before {
                top: mb(-54);
                right: auto;
                left: 0;
                width: mb(221);
                height: mb(108);
            }

            &::after {
                bottom: -5px;
            }
        }

        &-tit {
            text-align: center;
        }

        &-item {
            flex-direction: column;
        }
    }
}

.qa {
    padding: 322px 20px 110px;
    background: #faf6f1 url(./../image/qa/mountain.png) repeat-x top center/1920px;

    &-wrap {
        max-width: 1200px;
        margin: 0 auto;
    }

    &-tit {
        margin-bottom: 36px;
        text-align: center;

        img {
            width: 263px;
        }
    }

    &-content {

        &::before,
        &::after {
            content: '';
            display: block;
            width: 42px;
            height: 14px;
            margin: 0 auto;
            background: url(./../image/qa/cube.png) no-repeat center/contain;
        }

        &::before {
            margin-bottom: 18px;
        }

        &::after {
            margin-top: 18px;
        }
    }

    &-list {
        display: flex;
        align-items: flex-start;
        gap: 110px;
    }

    &-group {
        flex: 1;
        border-top: 1px solid #9c6cb0;
    }

    &-item {
        position: relative;
        font-size: 20px;
        color: #9c6cb0;
        border-bottom: 1px solid #9c6cb0;
    }

    &-num {
        position: absolute;
        top: 18px;
        left: 18px;
        pointer-events: none;
    }

    &-head {
        width: 100%;
        padding: 18px 60px;
        color: #9c6cb0;
        text-align: left;

        &::after {
            content: '';
            position: absolute;
            top: 24px;
            right: 30px;
            width: 20px;
            height: 20px;
            background: url(./../image/qa/arrow.svg) no-repeat center/contain;
            transition: transform .3s;
        }
    }

    &-txt {
        display: none;
        padding: 0 72px 20px 60px;
        font-size: 16px;
        color: #000;
    }

    &-item.-twoDigit & {

        &-head,
        &-txt {
            padding-left: 72px;
        }
    }

    &-item.is-open & {

        &-head {
            &::after {
                transform: rotate(-180deg);
            }
        }
    }

    @include breakpoint-down('laptop') {
        padding: 258px 20px 88px;
        background-size: 1536px;

        &-tit {
            margin-bottom: 28px;

            img {
                width: 210px;
            }
        }

        &-content {

            &::before,
            &::after {
                width: 34px;
                height: 12px;
            }
        }

        &-list {
            gap: 80px;
        }

        &-item {
            font-size: 17px;
        }

        &-num {
            top: 14px;
            left: mb(15);
        }

        &-head {
            padding: 14px mb(108);

            &::after {
                top: 20px;
                right: 12px;
                width: 16px;
                height: 16px;
            }
        }

        &-txt {
            padding: 0 mb(108) 17px mb(108);
            font-size: 15px;
        }

        &-item.-twoDigit & {

            &-head,
            &-txt {
                padding-left: mb(138);
            }
        }
    }

    @include breakpoint-down('tablet') {
        padding: mb(348) 20px mb(210);
        background-size: mb(1160);
        background-image: url(./../image/qa/mountain-m.png);

        &-tit {
            margin-bottom: mb(33);

            img {
                width: mb(343);
            }
        }

        &-content {

            &::before,
            &::after {
                width: mb(56);
                height: mb(19);
            }

            &::before {
                margin-bottom: mb(24);
            }

            &::after {
                margin-top: mb(24);
            }
        }

        &-list {
            display: block;
            gap: 0;
            border-top: 1px solid #9c6cb0;
        }

        &-group {
            border: none;
        }

        &-item {
            font-size: 15px;
        }

        &-txt {
            font-size: 14px;
        }
    }
}