<!doctype html>
<html class="no-js" lang="zh-Hant-TW">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        {% block title %}{% endblock %}
    </title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">

    <meta property="og:title" content="">
    <meta property="og:site_name" content="">
    <meta property="og:url" content="">
    <meta property="og:description" content="">
    <meta property="og:type" content="website">
    <link rel="image_src" href="/assets/image/share-img.jpg">
    <meta property="og:image" content="/assets/image/share-img.jpg">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="628">

    <link rel="manifest" href="{{ '/site.json' | relativePath }}" crossorigin="use-credentials">
    <link rel="shortcut icon" href="{{ '/favicon.ico' | relativePath }}" />
    <link rel="apple-touch-icon" href="{{ '/assets/image/touch/logo.png' | relativePath }}">

    {% block pluginsStyles %}{% endblock %}
    <link rel="stylesheet" href="{{ '/assets/css/normalize.min.css' | relativePath }}">
    <link rel="stylesheet" href="{{ '/assets/css/main.min.css' | relativePath }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap" rel="stylesheet">
    {% block styles %}{% endblock %}
    <meta name="theme-color" content="#ffffff">
</head>

<body>
    <div class="container">
        <header class="header">
            <div class="header-wrap">
                <a href="#" class="header-logo" target="_blank" rel="noopener noreferrer">
                    <img src="{{ '/assets/image/header/logo.png' | relativePath }}" alt="">
                </a>
                <button class="header-burger" data-burger></button>
                <div class="header-pcNav">
                    <button class="header-item">
                        <img src="{{ '/assets/image/header/product.png' | relativePath }}" alt="公益商品">
                    </button>
                    <button class="header-item">
                        <img src="{{ '/assets/image/header/story.png' | relativePath }}" alt="英雄故事集">
                    </button>
                    <button class="header-item">
                        <img src="{{ '/assets/image/header/qa.png' | relativePath }}" alt="活動Q&A">
                    </button>
                    <a href="#" class="header-item" target="_blank" rel="noopener noreferrer">
                        <img src="{{ '/assets/image/header/facebook.svg' | relativePath }}" alt="facebook">
                    </a>
                </div>
                <div class="header-mbNav">
                    <div>
                        <button class="header-cross" data-burger></button>
                        <button class="header-item">
                            <img src="{{ '/assets/image/header/product-m.svg' | relativePath }}" alt="公益商品">
                        </button>
                        <button class="header-item">
                            <img src="{{ '/assets/image/header/buy-m.svg' | relativePath }}" alt="購買「2025知書答禮」">
                        </button>
                        <button class="header-item">
                            <img src="{{ '/assets/image/header/story-m.svg' | relativePath }}" alt="英雄故事集">
                        </button>
                        <button class="header-item">
                            <img src="{{ '/assets/image/header/qa-m.svg' | relativePath }}" alt="活動Q&A">
                        </button>
                        <a href="#" class="header-item" target="_blank" rel="noopener noreferrer">
                            <img src="{{ '/assets/image/header/facebook-m.svg' | relativePath }}" alt="facebook">
                        </a>
                    </div>
                </div>
            </div>
        </header>
        <main class="main">
            {% block content %}{% endblock %}
        </main>
        <footer class="footer">
            <img src="{{ '/assets/image/footer.png' | relativePath }}" alt="">
        </footer>
    </div>

    <div class="goTop">
        <button class="goTop-txt" data-top>
            <img src="{{ '/assets/image/top.svg' | relativePath }}" alt="">
        </button>
        <div class="goTop-boy">
            <div class="boy">
                <img src="{{ '/assets/image/boy/top-all.png' | relativePath }}" alt="">
                <img src="{{ '/assets/image/boy/middle-all.png' | relativePath }}" alt="">
                <img src="{{ '/assets/image/boy/bottom-all.png' | relativePath }}" alt="">
            </div>
        </div>
    </div>
    {% block popups %}{% endblock %}
    <script src="{{ '/assets/lib/jquery-3.7.1.min.js' | relativePath }}"></script>
    {% block pluginScripts %}{% endblock %}
    <script src="{{ '/assets/js/main.min.js' | relativePath }}"></script>
    {% block scripts %}{% endblock %}
</body>

</html>