{% extends './_layouts/_layout.tmpl' %}

{% block content %}
{# <div class="boy">
    <img src="./assets/image/boy/top.png" alt="">
    <img src="./assets/image/boy/middle.png" alt="">
    <img src="./assets/image/boy/bottom.png" alt="">
</div> #}
<section class="partners">
    <div class="partners-wrap">
        <div class="partners-tit">
            <img class="-pc-pad" src="./assets/image/partners/tit.png" alt="">
            <img class="-mb" src="./assets/image/partners/tit-m.png" alt="">
        </div>
        <div class="partners-item">
            <div class="partners-pic">
                <img src="./assets/image/partners/pic1.jpg" alt="">
            </div>
            <div class="partners-content">
                <div class="partners-name">
                    <img src="./assets/image/partners/TFT.png" alt="">
                </div>
                <div class="partners-txt">
                    Teach For Taiwan 為台灣而教是一個人才發展基地，致力於解決台灣的教育不平等問題。我們培育青年人才的領導力，並且串連由人才所組成的影響力網路，共同為台灣每一位孩子打造優質且平等的教育環境。
                </div>
                <a href="#" class="partners-link" target="_blank" rel="noopener noreferrer">認識TFT為台灣而教</a>
            </div>
        </div>
        <div class="partners-item">
            <div class="partners-pic">
                <img src="./assets/image/partners/pic2.jpg" alt="">
            </div>
            <div class="partners-content">
                <div class="partners-name">
                    <img src="./assets/image/partners/sousou.png" alt="">
                </div>
                <div class="partners-txt">
                    SOU‧SOU創立於2003年，誕生於京都。品牌以日本傳統為根基，融合現代視角重新詮釋日本文化，透過獨特的織物圖樣，展現四季更迭的自然風情。風格雖然前衛大膽，卻融合了熟練的工藝與經得起時間考驗的素材，為現代生活增添一份別緻與質感。
                </div>
                <a href="#" class="partners-link" target="_blank" rel="noopener noreferrer">認識SOU SOU</a>
            </div>
        </div>
    </div>
</section>
<section class="qa">
    <div class="qa-wrap">
        <div class="qa-tit">
            <img src="./assets/image/qa/tit.svg" alt="">
        </div>
        <div class="qa-content">
            <div class="qa-list">
                <div class="qa-group">
                    <div class="qa-item" data-collapse>
                        <div class="qa-num">Q1.</div>
                        <button class="qa-head" data-collapse-action>請問要怎麼進行公益聯名商品購買？</button>
                        <div class="qa-txt" data-collapse-content>
                            A1:請貴賓於博客來網路書店進行線上購買2025知書答禮的公益商品。公益商品扣除商品成本，收益全數捐贈TFT為台灣而教教育基金
                        </div>
                    </div>
                    <div class="qa-item" data-collapse>
                        <div class="qa-num">Q2.</div>
                        <button class="qa-head" data-collapse-action>請問要怎麼進行公益聯名商品購買？</button>
                        <div class="qa-txt" data-collapse-content>
                            A1:請貴賓於博客來網路書店進行線上購買2025知書答禮的公益商品。公益商品扣除商品成本，收益全數捐贈TFT為台灣而教教育基金
                        </div>
                    </div>
                </div>
                <div class="qa-group">
                    <div class="qa-item" data-collapse>
                        <div class="qa-num">Q6.</div>
                        <button class="qa-head" data-collapse-action>請問要怎麼進行公益聯名商品購買？</button>
                        <div class="qa-txt" data-collapse-content>
                            A1:請貴賓於博客來網路書店進行線上購買2025知書答禮的公益商品。公益商品扣除商品成本，收益全數捐贈TFT為台灣而教教育基金
                        </div>
                    </div>
                    <div class="qa-item -twoDigit" data-collapse>
                        <div class="qa-num">Q10.</div>
                        <button class="qa-head" data-collapse-action>請問要怎麼進行公益聯名商品購買？請問要怎麼進行公益聯名商品購買？</button>
                        <div class="qa-txt" data-collapse-content>
                            A1:請貴賓於博客來網路書店進行線上購買2025知書答禮的公益商品。公益商品扣除商品成本，收益全數捐贈TFT為台灣而教教育基金
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block popups %}
{% endblock %}

{% block styles %}
{% endblock %}

{% block pluginScripts %}
{% endblock %}

{% block scripts %}
{% endblock %}