{% extends './_layouts/_layout.tmpl' %}

{% block content %}
<div class="boy">
    <img src="./assets/image/boy/top.png" alt="">
    <img src="./assets/image/boy/middle.png" alt="">
    <img src="./assets/image/boy/bottom.png" alt="">
</div>
{% endblock %}

{% block popups %}
{% endblock %}

{% block styles %}
{% endblock %}

{% block pluginScripts %}
{% endblock %}

{% block scripts %}
{% endblock %}